<div class="info">
	<div class="avatar">
		<%= image_tag(@user.avatar.url(:thumb)) %>
	</div>
	<div class="info-detail">
		<div class="name"><%=@user.name%></div>
		<div class="email"><%=@user.email%></div>
		<div class="posts-num"><%= @user_posts.size %> posts</div>
		<div class="followers-num" id="followers-num" style="margin-left: 50px;"><%=@user.followers.size%> followers</div>
		<a href="<%= following_user_path(@user) %>">
        	<strong id="following" class="stat">
        	<%= @user.following.count %>
    		</strong>
    		following
  		</a>
	</div>
	<div class="config-btn" id="profile_follow">
		<% if @user.id == current_user.id%>
			<%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-default" %>
		<% else %>
			<% if current_user.following?(@user) %>
		    <%= render 'unfollow' %>
		  <% else %>
		    <%= render 'follow' %>
		  <% end %>
		<% end %>
	</div>
</div>

<div class="row posts-list">
	<% @user_posts.each do |x| %>
		<div class="square">
			<div class="square-content">
				<%= link_to image_tag(x.image.url(:medium), alt: "image") ,post_path(x) %>
			</div>
		</div>
	<% end %>
</div>
</div>
