<li id="post-<%= post.id %>">
  <span class="avatar>"><%= image_tag(post.user.avatar.url(:thumb)) %></span>
  <span class="user"><%= link_to post.user.email, post.user %></span><br>
  <span class="image"><%= image_tag(post.image.url(:medium)) %></span><br>
  <span class="content"><%= post.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>