<li id="post-<%= post.id %>" class="post">
  <div class="post-info">
    <%= image_tag(post.user.avatar.url(:thumb), class: "avatar") %>
    <span class="user"><%= link_to post.user.email, post.user %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
  </div>
  <span class="image">
    <%= link_to image_tag(post.image.url(:medium), alt: "image", class: "img-responsive"), post_path(post) %></span><br>
  <span class="content"><%= post.description %></span>
</li>
