<div class="post">
	<div class="post-info">
		<%= image_tag(@post.user.avatar.url(:thumb), class: "avatar") %>
		<div class="user-mail"><%= @post.user.email %></div>
		<div class="timestamp">
			Posted <%= time_ago_in_words(@post.created_at)%> ago
		</div>
	</div>
	<div class="image">
		<%= image_tag(@post.image.url(:medium)) %>
	</div>
	<div class="content">
		<%= @post.description %>
	</div>
	<div class="comment-path">
		<div class="comments-list">
			<% @post.post_comment.each do |comment|%>
				<div class="comment">
					<% user = User.find(comment.user_id) %>
					<b><%= link_to user.name, user_path(user) %></b>
					<div class="comment-content">
						<%= comment.comment %>
					</div>
				</div>
			<% end %>
		</div>
		<hr>
		<%= form_for(@post_comment) do |f| %>
			<div class= "field">
				<%= f.text_field :comment, placeholder: "Say some thing ..." %>
				<%= f.hidden_field :post_id, :value => @post.id %>
				
			</div>
		<% end %>
	</div>
</div>
